# Add any directories, files, or patterns you don't want to be tracked by version control

# Ignore CMakeDebug files
cmake-build-debug
CMakeFiles
CMakeCache.txt
Makefile
cmake_*
*.cbp
*.cmake
*/cmake-build-debug
*/CMakeFiles
*/CMakeCache.txt
*/Makefile
*/cmake_*
*/*.cbp
*/*.cmake

# Ignore intellij "CLion" project configurations
.idea

# Ignore the build and lib dirs
build/*
#lib/*

# Ignore any executables
bin/*

# Ignore Mac specific files
.DS_Store



# DO NOT SKIP THESE
#Would skip repository lib/Catch
!README.md
!*/README.md
