[submodule "external/Catch"]
	path = external/Catch
	url = git://github.com/philsquared/Catch.git
[submodule "external/fann"]
	path = external/fann
	url = git://github.com/sciencefyll/fann
[submodule "external/Stockfish"]
	path = external/Stockfish
	url = https://github.com/sciencefyll/Stockfish
[submodule "external/benchmark"]
	path = external/benchmark
	url = https://github.com/google/benchmark
[submodule "external/pgnToFen"]
	path = external/pgnToFen
	url = https://github.com/SindreSvendby/pgnToFen
