# Add any directories, files, or patterns you don't want to be tracked by version control

# Ignore CMakeDebug files
cmake-build-debug
cmake/build

# Ignore intellij "CLion" project configurations
.idea

# Ignore Mac specific files
.DS_Store



# DO NOT SKIP THESE
!*/README.md
!Paths.cmake