[submodule "lib/Catch"]
	path = lib/Catch
	url = git://github.com/philsquared/Catch.git
[submodule "lib/fann"]
	path = lib/fann
	url = git://github.com/sciencefyll/fann
[submodule "lib/Stockfish"]
	path = lib/Stockfish
	url = https://github.com/sciencefyll/Stockfish
[submodule "lib/benchmark"]
	path = lib/benchmark
	url = https://github.com/google/benchmark
